[submodule "submodules/diff-gaussian-rasterization-depth/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization-depth/diff-gaussian-rasterization
	url = https://github.com/slothfulxtx/diff-gaussian-rasterization.git
